.headerContainer h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: #fff;
  text-align: center;
  margin: 0;
}

.headerTitle {
  text-align: left;
}

.headerTitle h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  color: var(--ifm-color-footer-button);
}

.headerTitle h3 {
  font-size: 30px;
}

.headerTypeWriter {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  align-self: center;
  justify-self: center;
  width: 700px;
  height: -700px;
  color: #fff;
}

.headerLogo {
  margin-left: 132px;
}
