.footerDiv {
    display: grid;
    place-items: center;
    padding: 2ch;
    row-gap: 1ch;
    background-color: var(--ifm-color-black);
}

.footerDiv p {
    margin: 0;
    color: var(--ifm-color-white);
    font-family: 'Open Sans';
    text-align: center;
}
